:root {
  --clr-white: white;
  --clr-blue: #0070f3;
  --clr-dark-blue: #0050ac;
  --clr-light-gray: #eaeaea;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.border {
  border: 2px solid var(--clr-light-gray);
  border-radius: 10px;
}
