.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 2px solid var(--clr-light-gray);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.title span {
  color: var(--clr-blue);
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.form {
  margin: 1rem;
  padding: 1rem;
  color: inherit;
  width: 100%;
  display: flex;
  max-width: 500px;
  font-size: 1.5rem;
}

.input {
  padding: 0 1rem;
  outline: none;
  font-size: inherit;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
}

.input:hover,
.input:focus,
.input:active {
  border-color: var(--clr-blue);
}

.button {
  border: none;
  border-radius: 10px;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  padding: 1rem 1.5rem;
  margin-left: 1rem;
  font-size: inherit;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--clr-dark-blue);
}

@media (max-width: 368px) {
  .container {
    padding: 0 1em;
  }

  .form {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .input {
    padding: 0 0.5rem;
  }

  .button {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
  }
}
